:root {
  --off-white: #f8f8f2;
  --primary-red: #f23759;
  --secondary-red: ;
  --primary-yellow: #ffe74d;
  --secondary-yellow: #FFF1A0;
  --primary-text: #000;
  --secondary-text: #44475a;
}

body {
  background-color: var(--primary-yellow);
  font-family: Roboto, "Lucida Console", Monaco, monospace;
  margin: 0;
  padding: 0;
  width: 100%;
}

.content {
  width: 94%;
  margin: 4em auto;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
}

.title-row {
  height: 100px;
}

/* nav bar */



/* hero page */ 
.hero {
  height: 100vh;
  background: url(/images/hero-img-2.png) no-repeat 50% 50%;
  background-size: cover;;
}

.hero-row {
  height: 75vh !important;
  color: var(--off-white);
  
}

.hero-col {
  padding-left: 100px;
  color: var(--off-white);
  
}

.h1-hero {
  margin-top: 90px;
  color: var(--primary-text); 
  font-size: 5em;
  font-weight: bold;
}

.p-hero {
  font-size: 25px;
  color: var(--primary-red);
}

.btn {
  padding: 10px;
  text-transform: uppercase;
  font-weight: bold;
  transition: 0.5s;
  color: var(--primary-text);
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid var(--secondary-text);
  border-radius: 10px;
}

.btn:hover {
  color: var(--primary-red);
  border: 1px solid var(--primary-red);
}

.h1-main-content {
  color: var(--primary-red);
}

/* About Me */

.about-me {
  background: rgb(248,248,242);
  background: linear-gradient(0deg, rgba(248,248,242,1) 0%, rgba(248,248,242,1) 55%, rgba(255,231,77,1) 100%);

}

.abt-row {
  height: 750px;
}

/* Skills */

.skills {
  height: 250px;
  background-color: var(--primary-text);
  color: var(--off-white);
}

.skills-row {
  height: 250px;
}

/* Portfolio */

.portfolio {
  background: rgb(248,248,242);
  background: linear-gradient(194deg, rgba(248,248,242,1) 0%, rgba(248,248,242,1) 61%, rgba(242,55,89,1) 100%);
}

.portfolio-row {
  height: 750px;
}


/* Footer */

.page-footer {
  padding: 10px;
  font-size: 12px;
}