:root {
  --off-white: #f8f8f2;
  --primary-red: #f23759;
  --secondary-red: ;
  --primary-yellow: #ffe74d;
  --secondary-yellow: #FFF1A0;
  --primary-text: #282a36;
  --secondary-text: #44475a;
}

body {
  background-color: var(--off-white);
  font-family: Roboto, "Lucida Console", Monaco, monospace;
  margin: 0;
  padding: 0;
  width: 100%;
}



header {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(/images/emile-perron-xrVDYZRGdw4-unsplash.jpg) no-repeat 50% 50%;
  background-size: cover;
}

.content {
  width: 94%;
  margin: 4em auto;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
}

.title-row {
  height: 100px;
}

/* nav bar */

nav {
  position: fixed;
  width: 100%;
  line-height: 60px;
}

nav ul {
  line-height: 60px;
  list-style: none;
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
  color: var(--off-white);
  padding: 0;
  text-align: right;
  margin: 0;
  padding: 16px;
  padding-right: 40px;
  transition: 1s;
}

nav ul li {
  display: inline-block;
  padding: 0px 40px;
}

nav ul li a {
  text-decoration: none;
  color: var(--off-white);
  font-size: 16px;
}

nav.black ul {
  color: var(--primary-red) !important;
  background: #000;
}

/* TODO You need to target the a tag for the menu links, not just the global font color for the wrapping element. Without seeing the HTML, it should be something like this .opaque-header a { //on scroll  color: black !important; ...

https://stackoverflow.com/questions/46575165/how-can-i-change-the-navbars-text-color-on-scroll */

/* hero page */ 

.hero-row {
  height: 750px;
  color: var(--off-white);
}

.h1-hero {
  font-size: 4em;
  color: var(--primary-yellow);
}

.p-hero {
  font-size: 20px;
  color: var(--off-white);
}

.btn {
  padding: 10px;
  text-transform: uppercase;
  transition: 0.5s;
  color: var(--off-white);
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid var(--off-white);
  border-radius: 10px;
}

.btn:hover {
  color: var(--primary-red);
  border: 1px solid var(--primary-red);
}

.h1-main-content {
  color: var(--primary-red);
}

/* About Me */

.about-me {
  background: rgb(248,248,242);
  background: linear-gradient(14deg, rgba(248,248,242,1) 0%, rgba(248,248,242,1) 59%, rgba(255,231,77,1) 100%);
}

.abt-row {
  height: 750px;
}

/* Skills */

.skills {
  height: 250px;
  background-color: var(--primary-text);
  color: var(--off-white);
}

.skills-row {
  height: 250px;
}

/* Portfolio */

.portfolio {
  background: rgb(248,248,242);
  background: linear-gradient(194deg, rgba(248,248,242,1) 0%, rgba(248,248,242,1) 61%, rgba(242,55,89,1) 100%);
}

.portfolio-row {
  height: 750px;
}


/* Footer */

.page-footer {
  padding: 10px;
  font-size: 12px;
}