:root {
  --off-white: #f8f8f2;
  --primary-red: #f23759;
  --secondary-red: ;
  --primary-yellow: #fff1a0;
  --secondary-yellow: #fff1a0;
  --primary-text: #000;
  --secondary-text: #44475a;
}

body {
  font-family: Menlo, Monaco, 'Courier New', monospace;
  text-transform: uppercase;
  color: var(--off-white);
  background: url(/images/bkgrnd.jpg) no-repeat 50% 50%;
}

h1 {
  font-size: 7vh;
  margin-top: 35%;
  color: var(--secondary-text)
}

h2 {
  font-size: 4vh;
  color: var(--secondary-text)
}
