{{define "title"}}Andy Byers{{ end }} {{define "body"}}

<h1>This will be the home page</h1>
<!-- Card 1 -->
<div class="container">
    <div class="overlay">
        <div class="items"></div>
        <div class="items head">
            <p>Dracula for Obsidian</p>
            <hr />
        </div>
    </div>
</div>

<!-- Card 2 -->
<div class="container">
    <div class="overlay">
        <div class="items"></div>
        <div class="items head">
            <p>Something Else</p>
            <hr />
        </div>
    </div>
</div>

<!-- Card 3 -->
<div class="container">
    <div class="overlay">
        <div class="items"></div>
        <div class="items head">
            <p>Another Thing</p>
            <hr />
        </div>
    </div>
</div>

<img src="assets/img/hero-img.png" style="width: 300px; height: 300px" />

{{ end }}
